@import "../modulos/mixin";

@media  (min-width: 320px) and (max-width: 480px) {
    body{ 
        
        header {
            @include flexbox (column, center, center);
        
            .div-header-logo {

                .imglogo {
                    margin-top: 30px;
                    width: 150px;
                    height: 100px;
                }

            }

            nav {
                @include flexbox (column, center, center);
                gap: 20px;
                font-size: 1.5rem;
                width: 100%;

                ul {
                    gap:40px;
                    padding-bottom: 20px;
                    width: 100%;
                    margin-right: 5px;
                    margin-left: 5px;

                    li {
                    width: 25%;
                    font-size: 2rem;
                    
                    }
                }

                .redes-header {
                    position: fixed;
                    top: 30px;
                    right: 30px;
                }
            }
        }
        main {

            .section1 .div-section1{ 
            
                .p-div-section1 {
                    font-size: 1.5rem;
                }
                .a-div-section1 {
                    font-size: 1.5rem;
                    width: 14rem;
                    height: 3.75rem;
                }
            }
            .section2{ 
                .article2-section2 {
                    .h4-article2-section2 {
                        font-size: 2.5rem;
                    }
                    .div-article2-section2{
    
                        p {
                            text-align: justify;
                            font-size: 1.5rem;
                        }
                        a p {
                            width: 230px;
                            height: 60px;
                            padding-left: 10px;
                        }    
                    }
                }    

                .article3-section2 {

                    @include flexbox (column, spacea-around, center);
                    div{
                        height: 100%; 
                        
                    
                        h3 {
                            font-size: 2.5rem;
                        }

                        p  { 
                            font-size: 1.5rem;
                            text-align: justify;
                        }
                    }            
                }   

            }





            .section3 .article2-section3{

                    flex-direction: column;
                    
                    img {
                        width: 80%;
                    }
                    .div1-section3 {
                    margin: 20px 30px;

                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.5rem;
                        text-align: justify;
                    }
                }
            
            }

            .section4 .article1-section4 {
                flex-direction: column;

                form {
                    
                    input {
                    width: 100%;
                    border-bottom: 2px solid $paleta_violeta_oscuro;
                    background-color: $paleta_gris_claro;
                    border-radius: 5px;
                    outline: none;
                    box-shadow: 0px 0px 0px $paleta_violeta_oscuro;
                    }

                    textarea {
                    width: 100%;
                    border-bottom: 2px solid $paleta_violeta_oscuro;
                    box-shadow: 0px 0px 0px $paleta_violeta_oscuro;
                    }

                    .divbotones {
                        width: 100%;
                        margin-top: 20px;
                        
                    }
                }

                

                .div1-section4 {
                    img{
                        display: none;
                    }
                }
            }


        }
    }
}